/**
 * Every step element has one of three classes: `future`, `present` and `past`.
 * Only one current step has the `present` class.
 * When a step is shown (selected) its element gets the class of "active" and 
 * the body element gets the class `impress-on-ID` where ID is the step's id.
 */

body {
/**   background: rgb(215, 215, 215); */
   background: white;
}

.notes {
    display: none;
}

#you h1 {
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
}

.step h2 {
    font-size: 78px;
    font-weight: bold;
}

.slide ul {
  list-style-type: disc;
  padding-left: 60px;
}

.eyecatcher {
  padding: 0;
}

.eyecatcher .because {
  font-size: 64px;
  position: absolute;
  top: -0.5em;
  left: 1.5em;

  -webkit-transform: translateZ(20px);
  -moz-transform:    translateZ(20px);
  -ms-transform:     translateZ(20px);
  -o-transform:      translateZ(20px);
  transform:         translateZ(20px);
}

.eyecatcher h1 {
  font-size: 190px;

  -webkit-transform: translateZ(50px);
  -moz-transform:    translateZ(50px);
  -ms-transform:     translateZ(50px);
  -o-transform:      translateZ(50px);
  transform:         translateZ(50px);
}

.eyecatcher .footnote {
  font-size: 32px;
}

#der-neue {
  text-align: center;
  font-size: 300px;
  line-height: 1;
}

#der-neue b {
  display: block;
  font-size: 215px;
}

#netzfisch {
  width: 1000;
  height: 540px;

  background-image: url('/img/netzfisch.png');
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

#the-basics {
  font-weight: 800;
  background-image: url('/img/family.png');
  background-position: top right;
  background-repeat: no-repeat;
}

#the-basics q {
  padding-top:100px;
}

#open-source {
  text-align: center;
  font-size: 100px;
  line-height: 1;
}

#open-source b {
  display: block;
  font-size: 150px;
  line-height: 150px;
}
